# general
.DS_Store
node_modules
.nx/cache

# packages
packages/*/build
packages/*/dist
*.tgz

# apps
.parcel-cache
.tini
.app
.output
.content
apps/*/app/ui
apps/*/app/public/tini-content
apps/*/app/public/sw.js
